In [1]:
# Load library
import pandas as pd

In [2]:
# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/titanic.csv'

In [3]:
# Load data
dataframe = pd.read_csv(url)

In [4]:
# Group rows, apply function to groups
dataframe.groupby('Sex').apply(lambda x: x.count())

C:\Users\dell\AppData\Local\Temp\ipykernel_16328\2601614640.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dataframe.groupby('Sex').apply(lambda x: x.count())

        Name  PClass  Age  Sex  Survived  SexCode
Sex
female   462     462  288  462       462      462
male     851     851  468  851       851      851